<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zephyr.ai.infrastructure.dao.IMcpGatewayDao">

    <resultMap id="McpGatewayMap" type="cn.zephyr.ai.infrastructure.dao.po.McpGatewayPO">
        <id column="id" property="id"/>
        <result column="gateway_id" property="gatewayId"/>
        <result column="gateway_name" property="gatewayName"/>
        <result column="gateway_desc" property="gatewayDesc"/>
        <result column="version" property="version"/>
        <result column="auth" property="auth"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.zephyr.ai.infrastructure.dao.po.McpGatewayPO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO mcp_gateway (gateway_id, gateway_name, gateway_desc, version, auth, status)
        VALUES (#{gatewayId}, #{gatewayName}, #{gatewayDesc}, #{version}, #{auth}, #{status})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM mcp_gateway WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="cn.zephyr.ai.infrastructure.dao.po.McpGatewayPO">
        UPDATE mcp_gateway
        SET gateway_id = #{gatewayId},
            gateway_name = #{gatewayName},
            gateway_desc = #{gatewayDesc},
            version = #{version},
            auth = #{auth},
            status = #{status},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, auth, status, create_time, update_time
        FROM mcp_gateway
        WHERE id = #{id}
    </select>

    <select id="queryAll" resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, auth, status, create_time, update_time
        FROM mcp_gateway
        ORDER BY id DESC
    </select>

    <select id="queryMcpGatewayByGatewayId" parameterType="java.lang.String"
            resultMap="McpGatewayMap">
        SELECT id, gateway_id, gateway_name, gateway_desc, version, auth, status
        FROM mcp_gateway
        WHERE gateway_id = #{gatewayId}
    </select>

</mapper>

