<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zephyr.ai.infrastructure.dao.IMcpGatewayAuthDao">

    <resultMap id="McpGatewayAuthMap" type="cn.zephyr.ai.infrastructure.dao.po.McpGatewayAuthPO">
        <id column="id" property="id"/>
        <result column="gateway_id" property="gatewayId"/>
        <result column="api_key" property="apiKey"/>
        <result column="rate_limit" property="rateLimit"/>
        <result column="expire_time" property="expireTime"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.zephyr.ai.infrastructure.dao.po.McpGatewayAuthPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mcp_gateway_auth (gateway_id, api_key, rate_limit, expire_time, status)
        VALUES (#{gatewayId}, #{apiKey}, #{rateLimit}, #{expireTime}, #{status})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM mcp_gateway_auth WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="cn.zephyr.ai.infrastructure.dao.po.McpGatewayAuthPO">
        UPDATE mcp_gateway_auth
        SET gateway_id = #{gatewayId},
            api_key = #{apiKey},
            rate_limit = #{rateLimit},
            expire_time = #{expireTime},
            status = #{status},
            update_time = NOW()
        WHERE id = #{id}
    </update>

    <select id="queryById" parameterType="java.lang.Long" resultMap="McpGatewayAuthMap">
        SELECT id, gateway_id, api_key, rate_limit, expire_time, status, create_time, update_time
        FROM mcp_gateway_auth
        WHERE id = #{id}
    </select>

    <select id="queryMcpGatewayAuthPO" parameterType="cn.zephyr.ai.infrastructure.dao.po.McpGatewayAuthPO" resultMap="McpGatewayAuthMap">
        SELECT id, gateway_id, api_key, rate_limit, expire_time, status
        FROM mcp_gateway_auth
        WHERE gateway_id = #{gatewayId} and api_key = #{apiKey}
    </select>

    <select id="queryEffectiveGatewayAuthCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*)
        FROM mcp_gateway_auth
        WHERE gateway_id = #{gatewayId} and status = 1
    </select>

    <select id="queryAll" resultMap="McpGatewayAuthMap">
        SELECT id, gateway_id, api_key, rate_limit, expire_time, status, create_time, update_time
        FROM mcp_gateway_auth
        ORDER BY id DESC
    </select>



</mapper>

